@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #fefefe;
    --text-color: #3f3f3f;
}

.dark-mode {
    --background-color: #3f3f3f;
    --text-color: #ffffff
}

body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}

.dropdown-btn{
    margin-top: 0 !important;
}
